<!-- Jumbotron -->
<app-jumbotron></app-jumbotron>

<!-- Botón de WhatsApp -->
<a id="whatsapp-button"
    href="https://api.whatsapp.com/send?phone=34693396940&text=Nombre:%20%0AN%C3%BAmero%20de%20Comensales:%20%0AHora%20de%20Reserva:%20%0AD%C3%ADa:%20"
    target="_blank">
    <img src="../../../assets/image/icon-whatsapp.png" alt="WhatsApp">
</a>



<br><br><br><br>
<article class="container">
    <div class="row">
        <div class="col-xl-5 col-md-5 col-sm-12 mb-3">
            <h2 style="text-align: center;"><strong>Comida Venezolana</strong> <img
                    src="../../../assets/image/banderaVenezuela.png" alt="banderaVenezuela"></h2><br><br>
            <p>
                ¡Ven a nuestro bar y disfruta de la auténtica comida <strong>venezolana</strong>! Desde las clásicas
                <strong>arepas</strong> hasta los suculentos <strong>tequeños</strong> y las jugosas
                <strong>empanadas</strong>, cada plato es una explosión de sabores auténticos preparados con ingredientes
                frescos y de alta calidad. <br><br> Nuestro acogedor <strong>ambiente</strong> y nuestra
                <strong>hospitalidad</strong> te harán sentir como en casa. Acompaña tu comida con nuestra variada selección
                de bebidas, desde refrescantes jugos tropicales hasta cócteles artesanales. Te prometemos una experiencia
                gastronómica que despertará todos tus sentidos. <strong>¡Te esperamos con los brazos abiertos!.</strong></p>
        </div>

        <!-- Offset dejara un espacio entre la imagen y el texto -->
        <div class="col-xl-5 col-md-5 col-sm-12 mb-3 offset-xl-1">
            <img src="../../../assets/image/iaComida.png" width="400px" height="400px" alt="imagen"
                style="border-radius: 15px;">
        </div>
    </div>
</article>
