<footer class="mt-5">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-5 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">Sobre Nosotros</h5>
                <p class="sobre-nosotros">
                    ¡Disfruta de la esencia de la comida casera en nuestro bar en Paterna! Ofrecemos platos preparados
                    con ingredientes frescos y de calidad, desde hamburguesas reconfortantes hasta tapas tradicionales.
                    Sumérgete en un ambiente acogedor y relajado mientras saboreas nuestra cocina casera. Estamos
                    ubicados en el corazón de Paterna, listos para brindarte una experiencia gastronómica auténtica y
                    deliciosa. ¡Te esperamos para compartir buenos momentos y sabores inolvidables!
                </p>
            </div>

            <div class="col-lg-3 offset-lg-1 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Contacto</h5>

                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="mailto:emburis@proyect.com" class="text-white"
                            style="text-decoration: none;">Escríbenos: <br>
                            vallita&#64;bar.com</a>
                    </li>
                    <br>
                    <li>
                        <a href="tel:+34693396940" class="text-white" style="text-decoration: none;">Número de Teléfono:
                            <br>
                            +34 667 43 21 22</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-0">Redes Sociales</h5>

                <a href="https://www.instagram.com/vallitabar/" class="text-dark" alt="Imagen Instagram"><img
                        src="../../../assets/image/instagram.png"></a>
                <a href="https://www.facebook.com/?locale=es_ES" class="text-dark" alt="Imagen facebook"><img
                        src="../../../assets/image/facebook.png"></a>
                <a href="https://www.tiktok.com/upload?lang=es" class="text-dark" alt="Imagen tiktok"><img
                        src="../../../assets/image/iconoTikTok.png"></a>
            </div>
        </div>
    </div>

    <div class="text-center">
        <a href="https://www.linkedin.com/in/rub%C3%A9n-mart%C3%ADnez-mart%C3%ADnez-/" class="text-white"
            style="text-decoration: none;">© 2024 - Diseñado por Rubén Martínez</a>
    </div>
</footer>