<!-- Cards -->
<article class="container-fluid">
<section>
    <br>
    <h2 class="text-center" style="background-color: #9d2042; color: white;">NUESTRA CARTA</h2><br><br>
    <h3 class="text-center" style="background-color: #9d2042; color: white;">AREPAS</h3><br>
    <div class="row">
        <article class="col-xl-3 col-md-6 col-sm-12 mb-3">
            <div class="card text-center text-dark border-white">
                <img src="../../../assets/image/arepa1.png" class="card-img-top" height="200" alt="Imagen Hamburgesa">
                <div class="card-body">
                    <div class="header-circle">
                        <span class="price">$3</span>
                    </div>
                    <h4 class="card-title text-white">Reina pepiada</h4>
                    <p class="card-text text-white collapse" id="arepa1" style="overflow: hidden;">
                        Nuestra hamburguesa clásica es una deliciosa combinación de carne de res jugosa, lechuga fresca, tomate maduro, cebolla crujiente y queso cheddar derretido. Todo esto servido en un suave pan de hamburguesa, acompañado de nuestra irresistible salsa secreta. ¡Una experiencia que nunca pasa de moda!
                    </p>
                    <a href="#arepa1" class="btn btn-custom-purple" data-bs-toggle="collapse" role="button"
                        aria-expanded="false" aria-controls="arepa1">+</a>
                </div>
            </div>
        </article>
        
        

        <article class="col-xl-3 col-md-6 col-sm-12 mb-3">
            <div class="card text-center text-dark border-white">
                <img src="../../../assets/image/arepa2.png" class="card-img-top" height="200" alt="Imagen hamburguesa2">
                <div class="card-body">
                    <div class="header-circle">
                        <span class="price">$6</span>
                    </div>
                    <h4 class="card-title text-white">Sifrina</h4>
                    <p class="card-text text-white collapse" id="arepa2" style="overflow: hidden;">
                        Sumérgete en el sabor del salvaje oeste con nuestra hamburguesa BBQ ranchera. Preparada con una jugosa carne de res a la parrilla, crujientes tiras de bacon, queso pepper jack derretido y cebolla caramelizada, todo cubierto con una generosa porción de nuestra salsa BBQ casera y aderezo ranchero. ¡Una explosión de sabor en cada bocado!
                    </p>
                    <a href="#arepa2" class="btn btn-custom-purple" data-bs-toggle="collapse" role="button"
                aria-expanded="false" aria-controls="arepa2">+</a>
                </div>
            </div>
        </article>

        <article class="col-xl-3 col-md-6 col-sm-12 mb-3">
            <div class="card text-center text-dark border-white">
                <img src="../../../assets/image/arepa3.png" class="card-img-top" height="200" alt="Imagen hamburguesa3">
                <div class="card-body">
                    <div class="header-circle">
                        <span class="price">$5</span>
                    </div>
                    <h4 class="card-title text-white">Rumbera</h4>
                    <p class="card-text text-white collapse" id="arepa3" style="overflow: hidden;">
                        Para los amantes de las hamburguesas sin carne, presentamos nuestra hamburguesa vegana de portobello. Con un jugoso portobello a la parrilla como protagonista, acompañado de rodajas de aguacate fresco, tomate, cebolla morada, hojas de espinaca y una cremosa mayonesa vegana, todo servido en un pan integral recién horneado. ¡Una opción deliciosa y nutritiva para satisfacer tus antojos! <br>
                    </p>
                    <a href="#arepa3" class="btn btn-custom-purple" data-bs-toggle="collapse" role="button"
                        aria-expanded="false" aria-controls="arepa3">+</a>
                </div>
            </div>
        </article>

        <article class="col-xl-3 col-md-6 col-sm-12 mb-3">
            <div class="card text-center text-dark border-white">
                <img src="../../../assets/image/arepa4.png" class="card-img-top" height="200" alt="Imagen hamburguesa4">
                <div class="card-body">
                    <div class="header-circle">
                        <span class="price">$6</span>
                    </div>
                    <h4 class="card-title text-white">Pelúa</h4>
                    <p class="card-text text-white collapse" id="arepa4" style="overflow: hidden;">
                        ¡Prepárate para un viaje de sabor con nuestra hamburguesa picante mexicana! Con una carne de res sazonada con especias, queso pepper jack derretido, chiles jalapeños en rodajas, guacamole casero, rodajas de tomate fresco y una generosa cantidad de salsa de chipotle, todo esto entre dos mitades de pan de maíz tostado. ¡Una explosión de sabores mexicanos en cada bocado!<br>
                    </p>
                    <a href="#arepa4" class="btn btn-custom-purple" data-bs-toggle="collapse" role="button"
                        aria-expanded="false" aria-controls="arepa4">+</a>
                </div>
            </div>
        </article>
    </div>
    <br><br><br><br><br><br><br><br><br>



    <h3 class="text-center" style="background-color: #9d2042; color: white;">HAMBURGUESAS</h3><br><br>

    <div class="row">
        <article class="col-xl-3 col-md-6 col-sm-12 mb-3">
            <div class="card text-center text-dark border-white">
                <img src="../../../assets/image/hamburgesa1.png" class="card-img-top" height="200" alt="Imagen Hamburgesa">
                <div class="card-body">
                    <div class="header-circle">
                        <span class="price">$10</span>
                    </div>
                    <h4 class="card-title text-white">De La Casa</h4>
                    <p class="card-text text-white collapse" id="hamburgesa1" style="overflow: hidden;">

                        Nuestra hamburguesa clásica es una deliciosa combinación de carne de res jugosa, lechuga fresca, tomate maduro, cebolla crujiente y queso cheddar derretido. Todo esto servido en un suave pan de hamburguesa, acompañado de nuestra irresistible salsa secreta. ¡Una experiencia que nunca pasa de moda!
                    </p>
                    <a href="#hamburgesa1" class="btn btn-custom-purple" data-bs-toggle="collapse" role="button"
                        aria-expanded="false" aria-controls="hamburgesa1">+</a>
                </div>
            </div>
        </article>

        <article class="col-xl-3 col-md-6 col-sm-12 mb-3">
            <div class="card text-center text-dark border-white">
                <img src="../../../assets/image/hamburgesa2.png" class="card-img-top" height="200" alt="Imagen hamburguesa2">
                <div class="card-body">
                    <div class="header-circle">
                        <span class="price">$12</span>
                    </div>
                    <h4 class="card-title text-white">BBQ</h4>
                    <p class="card-text text-white collapse" id="hamburguesa2" style="overflow: hidden;">
                        Sumérgete en el sabor del salvaje oeste con nuestra hamburguesa BBQ ranchera. Preparada con una jugosa carne de res a la parrilla, crujientes tiras de bacon, queso pepper jack derretido y cebolla caramelizada, todo cubierto con una generosa porción de nuestra salsa BBQ casera y aderezo ranchero. ¡Una explosión de sabor en cada bocado!
                    </p>
                    <a href="#hamburguesa2" class="btn btn-custom-purple" data-bs-toggle="collapse" role="button"
                        aria-expanded="false" aria-controls="hamburguesa2">+</a>
                </div>
            </div>
        </article>

        <article class="col-xl-3 col-md-6 col-sm-12 mb-3">
            <div class="card text-center text-dark border-white">
                <img src="../../../assets/image/hamburguesa3.png" class="card-img-top" height="200" alt="Imagen hamburguesa3">
                <div class="card-body">
                    <div class="header-circle">
                        <span class="price">$11</span>
                    </div>
                    <h4 class="card-title text-white">VEGAN</h4>
                    <p class="card-text text-white collapse" id="hamburguesa3" style="overflow: hidden;">
                        Para los amantes de las hamburguesas sin carne, presentamos nuestra hamburguesa vegana de portobello. Con un jugoso portobello a la parrilla como protagonista, acompañado de rodajas de aguacate fresco, tomate, cebolla morada, hojas de espinaca y una cremosa mayonesa vegana, todo servido en un pan integral recién horneado. ¡Una opción deliciosa y nutritiva para satisfacer tus antojos! <br>
                    </p>
                    <a href="#hamburguesa3" class="btn btn-custom-purple" data-bs-toggle="collapse" role="button"
                        aria-expanded="false" aria-controls="hamburguesa3">+</a>
                </div>
            </div>
        </article>

        <article class="col-xl-3 col-md-6 col-sm-12 mb-3">
            <div class="card text-center text-dark border-white">
                <img src="../../../assets/image/hamburguesa4.png" class="card-img-top" height="200" alt="Imagen hamburguesa4">
                <div class="card-body">
                    <div class="header-circle">
                        <span class="price">$10</span>
                    </div>
                    <h4 class="card-title text-white">VENEZO</h4>
                    <p class="card-text text-white collapse" id="hamburguesa4" style="overflow: hidden;">
                        ¡Prepárate para un viaje de sabor con nuestra hamburguesa picante venezolana! Con una carne de res sazonada con especias, queso pepper jack derretido, chiles jalapeños en rodajas, guacamole casero, rodajas de tomate fresco y una generosa cantidad de salsa de chipotle, todo esto entre dos mitades de pan de maíz tostado. ¡Una explosión de sabores mexicanos en cada bocado!<br>
                    </p>
                    <a href="#hamburguesa4" class="btn btn-custom-purple" data-bs-toggle="collapse" role="button"
                        aria-expanded="false" aria-controls="hamburguesa4">+</a>
                </div>
            </div>
        </article>
    </div>
    <br><br><br><br><br><br><br><br><br>





    <h3 class="text-center" style="background-color: #9d2042; color: white;">TAPAS</h3><br>
    <div class="row">

        <article class="col-xl-3 col-md-6 col-sm-12 mb-3">
            <div class="card text-center text-dark border-white">
                <img src="../../../assets/image/tapa1.png" class="card-img-top" height="200" alt="Imagen Hamburgesa">
                <div class="card-body">
                    <div class="header-circle">
                        <span class="price">$6</span>
                    </div>
                    <h4 class="card-title text-white">Bravas</h4>
                    <p class="card-text text-white collapse" id="tapa1" style="overflow: hidden;">

                        Deléitate con nuestras Patatas Bravas, un clásico español reinventado. Trozos de patatas crujientes y doradas por fuera, tiernas por dentro, cubiertas con una irresistible salsa bravas casera. El contraste entre la suavidad de las patatas y el picante de la salsa te dejará anhelando más en cada bocado.
                    </p>
                    <a href="#tapa1" class="btn btn-custom-purple" data-bs-toggle="collapse" role="button"
                        aria-expanded="false" aria-controls="tapa1">+</a>
                </div>
            </div>
        </article>

        <article class="col-xl-3 col-md-6 col-sm-12 mb-3">
            <div class="card text-center text-dark border-white">
                <img src="../../../assets/image/tapa2.png" class="card-img-top" height="200" alt="Imagen hamburguesa2">
                <div class="card-body">
                    <div class="header-circle">
                        <span class="price">$7</span>
                    </div>
                    <h4 class="card-title text-white">Calamares</h4>
                    <p class="card-text text-white collapse" id="tapa2" style="overflow: hidden;">
                        Sumérgete en el sabor del mar con nuestros Calamares Fritos. Tentáculos de calamar fresco, recubiertos con una capa crujiente y dorada, listos para ser devorados. Cada bocado es una explosión de jugosidad y textura, complementado con una pizca de limón para resaltar su frescura natural
                    </p>
                    <a href="#tapa2" class="btn btn-custom-purple" data-bs-toggle="collapse" role="button"
                        aria-expanded="false" aria-controls="tapa2">+</a>
                </div>
            </div>
        </article>

        <article class="col-xl-3 col-md-6 col-sm-12 mb-3">
            <div class="card text-center text-dark border-white">
                <img src="../../../assets/image/tapa3.png" class="card-img-top" height="200" alt="Imagen hamburguesa3">
                <div class="card-body">
                    <div class="header-circle">
                        <span class="price">$4</span>
                    </div>
                    <h4 class="card-title text-white">Tequeños</h4>
                    <p class="card-text text-white collapse" id="tapa3" style="overflow: hidden;">
                        Descubre el placer de nuestros Tequeños de Queso, un manjar venezolano que cautiva a todos los paladares. Finas tiras de masa de harina de maíz rellenas con queso fresco, perfectamente fritas hasta alcanzar una textura crujiente por fuera y un corazón de queso derretido por dentro. ¡El compañero perfecto para cualquier ocasión! <br>
                    </p>
                    <a href="#tapa3" class="btn btn-custom-purple" data-bs-toggle="collapse" role="button"
                        aria-expanded="false" aria-controls="tapa3">+</a>
                </div>
            </div>
        </article>

        <article class="col-xl-3 col-md-6 col-sm-12 mb-3">
            <div class="card text-center text-dark border-white">
                <img src="../../../assets/image/tapa4.png" class="card-img-top" height="200" alt="Imagen hamburguesa4">
                <div class="card-body">
                    <div class="header-circle">
                        <span class="price">$5</span>
                    </div>
                    <h4 class="card-title text-white">Morro</h4>
                    <p class="card-text text-white collapse" id="tapa4" style="overflow: hidden;">
                        Embárcate en un viaje culinario con nuestro Morro en Salsa Verde, un plato tradicional lleno de sabor. Trozos tiernos de morro de cerdo cocidos a la perfección, bañados en una exquisita salsa verde con hierbas frescas y especias aromáticas. Cada bocado es una explosión de sabores auténticos que te transportarán a los rincones más auténticos de la cocina casera.<br>
                    </p>
                    <a href="#tapa4" class="btn btn-custom-purple" data-bs-toggle="collapse" role="button"
                        aria-expanded="false" aria-controls="tapa4">+</a>
                </div>
            </div>
        </article>
    </div>
    <br><br><br><br><br><br><br><br><br>







    <h3 class="text-center" style="background-color: #9d2042; color: white;">BOCADILLOS</h3><br>
    <div class="row">

        <article class="col-xl-3 col-md-6 col-sm-12 mb-3">
            <div class="card text-center text-dark border-white">
                <img src="../../../assets/image/bocadillo1.png" class="card-img-top" height="200" alt="Imagen Hamburgesa">
                <div class="card-body">
                    <div class="header-circle">
                        <span class="price">$9</span>
                    </div>
                    <h4 class="card-title text-white">Chivito</h4>
                    <p class="card-text text-white collapse" id="bocadillo1" style="overflow: hidden;">

                        Nuestra hamburguesa clásica es una deliciosa combinación de carne de res jugosa, lechuga fresca, tomate maduro, cebolla crujiente y queso cheddar derretido. Todo esto servido en un suave pan de hamburguesa, acompañado de nuestra irresistible salsa secreta. ¡Una experiencia que nunca pasa de moda!
                    </p>
                    <a href="#bocadillo1" class="btn btn-custom-purple" data-bs-toggle="collapse" role="button"
                        aria-expanded="false" aria-controls="bocadillo1">+</a>
                </div>
            </div>
        </article>

        <article class="col-xl-3 col-md-6 col-sm-12 mb-3">
            <div class="card text-center text-dark border-white">
                <img src="../../../assets/image/bocadillo2.png" class="card-img-top" height="200" alt="Imagen hamburguesa2">
                <div class="card-body">
                    <div class="header-circle">
                        <span class="price">$11</span>
                    </div>
                    <h4 class="card-title text-white">Brascada</h4>
                    <p class="card-text text-white collapse" id="bocadillo2" style="overflow: hidden;">
                        Sumérgete en el sabor del salvaje oeste con nuestra hamburguesa BBQ ranchera. Preparada con una jugosa carne de res a la parrilla, crujientes tiras de bacon, queso pepper jack derretido y cebolla caramelizada, todo cubierto con una generosa porción de nuestra salsa BBQ casera y aderezo ranchero. ¡Una explosión de sabor en cada bocado!
                    </p>
                    <a href="#bocadillo2" class="btn btn-custom-purple" data-bs-toggle="collapse" role="button"
                        aria-expanded="false" aria-controls="bocadillo2">+</a>
                </div>
            </div>
        </article>

        <article class="col-xl-3 col-md-6 col-sm-12 mb-3">
            <div class="card text-center text-dark border-white">
                <img src="../../../assets/image/bocadillo3.png" class="card-img-top" height="200" alt="Imagen hamburguesa3">
                <div class="card-body">
                    <div class="header-circle">
                        <span class="price">$10</span>
                    </div>
                    <h4 class="card-title text-white">Serranito</h4>
                    <p class="card-text text-white collapse" id="bocadillo3" style="overflow: hidden;">
                        Para los amantes de las hamburguesas sin carne, presentamos nuestra hamburguesa vegana de portobello. Con un jugoso portobello a la parrilla como protagonista, acompañado de rodajas de aguacate fresco, tomate, cebolla morada, hojas de espinaca y una cremosa mayonesa vegana, todo servido en un pan integral recién horneado. ¡Una opción deliciosa y nutritiva para satisfacer tus antojos! <br>
                    </p>
                    <a href="#bocadillo3" class="btn btn-custom-purple" data-bs-toggle="collapse" role="button"
                        aria-expanded="false" aria-controls="bocadillo3">+</a>
                </div>
            </div>
        </article>

        <article class="col-xl-3 col-md-6 col-sm-12 mb-3">
            <div class="card text-center text-dark border-white">
                <img src="../../../assets/image/bocadillo4.png" class="card-img-top" height="200" alt="Imagen hamburguesa4">
                <div class="card-body">
                    <div class="header-circle">
                        <span class="price">$9</span>
                    </div>
                    <h4 class="card-title text-white">Blanco y Negro</h4>
                    <p class="card-text text-white collapse" id="bocadillo4" style="overflow: hidden;">
                        ¡Prepárate para un viaje de sabor con nuestra hamburguesa picante mexicana! Con una carne de res sazonada con especias, queso pepper jack derretido, chiles jalapeños en rodajas, guacamole casero, rodajas de tomate fresco y una generosa cantidad de salsa de chipotle, todo esto entre dos mitades de pan de maíz tostado. ¡Una explosión de sabores mexicanos en cada bocado!<br>
                    </p>
                    <a href="#bocadillo4" class="btn btn-custom-purple" data-bs-toggle="collapse" role="button"
                        aria-expanded="false" aria-controls="bocadillo4">+</a>
                </div>
            </div>
        </article>
    </div>
    <br><br><br><br><br>


</section>


<div class="contenedor-centrado">
    <a href="../../../assets/image/carta.png" class="boton-descarga" download="Carta_Bar_Vallita"><img src="../../../assets/image/descargarCarta.png" height="40px" alt="descargar carta"><strong>Descargar Carta</strong></a>
</div><br><br>
</article>