<!-- Cards -->
<article class="container-fluid">
    <section>
        <br>
        <h2 class="text-center" style="background-color: #9d2042; color: white;">NUESTRA CARTA</h2><br><br>
        <h3 class="text-center" style="background-color: #9d2042; color: white;">AREPAS</h3><br>
        <div class="row">
            <article class="col-xl-3 col-md-6 col-sm-12 mb-3 neon-border">
                <div class="card text-center text-dark border-white">
                    <img src="../../../assets/image/arepa1.png" class="card-img-top" height="200" alt="Imagen Hamburgesa">
                    <div class="card-body">
                        <div class="header-circle">
                            <span class="price">$3</span>
                        </div>
                        <h4 class="card-title text-white">Reina pepiada</h4>
                    </div>
                </div>
            </article>

            <article class="col-xl-3 col-md-6 col-sm-12 mb-3">
                <div class="card text-center text-dark border-white">
                    <img src="../../../assets/image/arepa2.png" class="card-img-top" height="200"
                        alt="Imagen hamburguesa2">
                    <div class="card-body">
                        <div class="header-circle">
                            <span class="price">$6</span>
                        </div>
                        <h4 class="card-title text-white">Sifrina</h4>
                    </div>
                </div>
            </article>

            <article class="col-xl-3 col-md-6 col-sm-12 mb-3">
                <div class="card text-center text-dark border-white">
                    <img src="../../../assets/image/arepa3.png" class="card-img-top" height="200"
                        alt="Imagen hamburguesa3">
                    <div class="card-body">
                        <div class="header-circle">
                            <span class="price">$5</span>
                        </div>
                        <h4 class="card-title text-white">Rumbera</h4>
                    </div>
                </div>
            </article>

            <article class="col-xl-3 col-md-6 col-sm-12 mb-3">
                <div class="card text-center text-dark border-white">
                    <img src="../../../assets/image/arepa4.png" class="card-img-top" height="200"
                        alt="Imagen hamburguesa4">
                    <div class="card-body">
                        <div class="header-circle">
                            <span class="price">$6</span>
                        </div>
                        <h4 class="card-title text-white">Pelúa</h4>
                    </div>
                </div>
            </article>
        </div>
        <br><br><br><br>



        <h3 class="text-center" style="background-color: #9d2042; color: white;">HAMBURGUESAS</h3><br><br>

        <div class="row">
            <article class="col-xl-3 col-md-6 col-sm-12 mb-3">
                <div class="card text-center text-dark border-white">
                    <img src="../../../assets/image/hamburgesa1.png" class="card-img-top" height="200"
                        alt="Imagen Hamburgesa">
                    <div class="card-body">
                        <div class="header-circle">
                            <span class="price">$10</span>
                        </div>
                        <h4 class="card-title text-white">De La Casa</h4>
                    </div>
                </div>
            </article>

            <article class="col-xl-3 col-md-6 col-sm-12 mb-3">
                <div class="card text-center text-dark border-white">
                    <img src="../../../assets/image/hamburgesa2.png" class="card-img-top" height="200"
                        alt="Imagen hamburguesa2">
                    <div class="card-body">
                        <div class="header-circle">
                            <span class="price">$12</span>
                        </div>
                        <h4 class="card-title text-white">BBQ</h4>
                    </div>
                </div>
            </article>

            <article class="col-xl-3 col-md-6 col-sm-12 mb-3">
                <div class="card text-center text-dark border-white">
                    <img src="../../../assets/image/hamburguesa3.png" class="card-img-top" height="200"
                        alt="Imagen hamburguesa3">
                    <div class="card-body">
                        <div class="header-circle">
                            <span class="price">$11</span>
                        </div>
                        <h4 class="card-title text-white">VEGAN</h4>
                    </div>
                </div>
            </article>

            <article class="col-xl-3 col-md-6 col-sm-12 mb-3">
                <div class="card text-center text-dark border-white">
                    <img src="../../../assets/image/hamburguesa4.png" class="card-img-top" height="200"
                        alt="Imagen hamburguesa4">
                    <div class="card-body">
                        <div class="header-circle">
                            <span class="price">$10</span>
                        </div>
                        <h4 class="card-title text-white">VENEZO</h4>
                    </div>
                </div>
            </article>
        </div>
        <br><br><br><br>





        <h3 class="text-center" style="background-color: #9d2042; color: white;">TAPAS</h3><br>
        <div class="row">

            <article class="col-xl-3 col-md-6 col-sm-12 mb-3">
                <div class="card text-center text-dark border-white">
                    <img src="../../../assets/image/tapa1.png" class="card-img-top" height="200"
                        alt="Imagen Hamburgesa">
                    <div class="card-body">
                        <div class="header-circle">
                            <span class="price">$6</span>
                        </div>
                        <h4 class="card-title text-white">Bravas</h4>
                    </div>
                </div>
            </article>

            <article class="col-xl-3 col-md-6 col-sm-12 mb-3">
                <div class="card text-center text-dark border-white">
                    <img src="../../../assets/image/tapa2.png" class="card-img-top" height="200"
                        alt="Imagen hamburguesa2">
                    <div class="card-body">
                        <div class="header-circle">
                            <span class="price">$7</span>
                        </div>
                        <h4 class="card-title text-white">Calamares</h4>
                    </div>
                </div>
            </article>

            <article class="col-xl-3 col-md-6 col-sm-12 mb-3">
                <div class="card text-center text-dark border-white">
                    <img src="../../../assets/image/tapa3.png" class="card-img-top" height="200"
                        alt="Imagen hamburguesa3">
                    <div class="card-body">
                        <div class="header-circle">
                            <span class="price">$4</span>
                        </div>
                        <h4 class="card-title text-white">Tequeños</h4>
                    </div>
                </div>
            </article>

            <article class="col-xl-3 col-md-6 col-sm-12 mb-3">
                <div class="card text-center text-dark border-white">
                    <img src="../../../assets/image/tapa4.png" class="card-img-top" height="200"
                        alt="Imagen hamburguesa4">
                    <div class="card-body">
                        <div class="header-circle">
                            <span class="price">$5</span>
                        </div>
                        <h4 class="card-title text-white">Morro</h4>
                    </div>
                </div>
            </article>
        </div>
        <br><br><br><br>







        <h3 class="text-center" style="background-color: #9d2042; color: white;">BOCADILLOS</h3><br>
        <div class="row">

            <article class="col-xl-3 col-md-6 col-sm-12 mb-3">
                <div class="card text-center text-dark border-white">
                    <img src="../../../assets/image/bocadillo1.png" class="card-img-top" height="200"
                        alt="Imagen Hamburgesa">
                    <div class="card-body">
                        <div class="header-circle">
                            <span class="price">$9</span>
                        </div>
                        <h4 class="card-title text-white">Chivito</h4>
                    </div>
                </div>
            </article>

            <article class="col-xl-3 col-md-6 col-sm-12 mb-3">
                <div class="card text-center text-dark border-white">
                    <img src="../../../assets/image/bocadillo2.png" class="card-img-top" height="200"
                        alt="Imagen hamburguesa2">
                    <div class="card-body">
                        <div class="header-circle">
                            <span class="price">$11</span>
                        </div>
                        <h4 class="card-title text-white">Brascada</h4>
                    </div>
                </div>
            </article>

            <article class="col-xl-3 col-md-6 col-sm-12 mb-3">
                <div class="card text-center text-dark border-white">
                    <img src="../../../assets/image/bocadillo3.png" class="card-img-top" height="200"
                        alt="Imagen hamburguesa3">
                    <div class="card-body">
                        <div class="header-circle">
                            <span class="price">$10</span>
                        </div>
                        <h4 class="card-title text-white">Serranito</h4>
                    </div>
                </div>
            </article>

            <article class="col-xl-3 col-md-6 col-sm-12 mb-3">
                <div class="card text-center text-dark border-white">
                    <img src="../../../assets/image/bocadillo4.png" class="card-img-top" height="200"
                        alt="Imagen hamburguesa4">
                    <div class="card-body">
                        <div class="header-circle">
                            <span class="price">$9</span>
                        </div>
                        <h4 class="card-title text-white">Blanco y Negro</h4>
                    </div>
                </div>
            </article>
        </div>
        <br><br><br>


    </section>


    <div class="contenedor-centrado">
        <a href="../../../assets/image/carta.png" class="boton-descarga" download="Carta_Bar_Vallita"><img
                src="../../../assets/image/descargarCarta.png" height="40px" alt="descargar carta"><strong>Descargar
                Carta</strong></a>
    </div><br><br>
</article>