.card-body {
    background-color: #9d2042;
    border-bottom-left-radius: 15px; /* Redondear solo la parte inferior */
    border-bottom-right-radius: 15px; /* Redondear solo la parte inferior */
    
}

.card {
    border-bottom-left-radius: 15px; /* Redondear solo la parte inferior */
    border-bottom-right-radius: 15px; /* Redondear solo la parte inferior */
    transition: box-shadow 0.3s ease; /* Transición suave para la sombra */
}

.card:hover,
.card:active {
    box-shadow: 0 20px 30px #9d2042; /* Sombras más pronunciadas al hacer hover o clic */
}

/* Precio del producto */
.header-circle {
    position: absolute;
    top: -15px;
    right: -10px;
    width: 60px;
    height: 60px;
    background-color: #9d2042;
    border-radius: 40%;
    z-index: 1; /* Para que esté sobre el contenido */
}

.price {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: white;
    font-weight: bold;
}


/* Botón para descargar la carta */
.boton-descarga {
    display: inline-block;
    padding: 20px 20px;
    background-color: #9d2042; /* Color de fondo inicial */
    color: white;
    text-decoration: none;
    border-radius: 10px; /* Bordes redondeados */
    border: none;
    transition: background-color 0.3s; /* Transición suave para el cambio de color */
}

.boton-descarga:hover,
.boton-descarga:active {
    background-color: #bd3c5e; /* Color de fondo al pasar el mouse o hacer clic */
    box-shadow: 0 20px 30px #9d2042; /* Sombras más pronunciadas al hacer hover o clic */
    transition: box-shadow 0.3s ease; /* Transición suave para la sombra */
}


.contenedor-centrado {
    text-align: center; /* Centra horizontalmente el contenido */
}