.card-body {
    background-color: #9d2042;
    border-bottom-left-radius: 15px; /* Redondear solo la parte inferior */
    border-bottom-right-radius: 15px; /* Redondear solo la parte inferior */
}

.contenedor-centrado {
    text-align: center; /* Centra horizontalmente el contenido */
}

.boton-descarga {
    display: inline-block;
    padding: 20px 20px;
    background-color: #9d2042; /* Color de fondo inicial */
    color: white;
    text-decoration: none;
    border-radius: 10px; /* Bordes redondeados */
    border: none;
    transition: background-color 0.3s; /* Transición suave para el cambio de color */
}

.boton-descarga:hover {
    background-color: #bd3c5e; /* Color de fondo al pasar el mouse */
}

/* Estilo personalizado para el botón morado */
.btn-custom-purple {
    background-color: #bd3c5e; /* Fondo morado */
    border-color: #9d2042; /* Borde morado */
    color: #ffffff; /* Texto blanco */
}

/* Estilo para cambiar el color del texto cuando el usuario pasa el ratón sobre el botón */
.btn-custom-purple:hover {
    background-color: #7c1631; /* Fondo morado más oscuro */
    border-color: #7c1631; /* Borde morado más oscuro */
}


/* Precio del producto */
.header-circle {
    position: absolute;
    top: -15px;
    right: -10px;
    width: 60px;
    height: 60px;
    background-color: #9d2042;
    border-radius: 40%;
    z-index: 1; /* Para que esté sobre el contenido */
}

.price {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: white;
    font-weight: bold;
}

